@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.banner-container {
    color: #fff;
    font-family: Bangers, "sans-serif";
    background-color: #202020;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 100vh;
    padding: 6% var(--side-padding);
    padding-top: 5rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    user-select: none;
}
.banner-container h1 {
    font-size: 6rem;
}
.banner-container .product-image {
    flex: 40%;
    pointer-events: none;
    z-index: 1;
    object-fit: cover;
}
.title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 35%;
    text-align: left;
    z-index: 1;
    justify-content: center;
}
.banner-button {
    width: 7rem;
    padding: 7px 9px;
    color:#fff;
    font-size: 1.4rem;
    background-color: tomato;
    border: 4px solid tomato;
    border-radius: 3px;
    transition: all 0.2s;
    z-index: 1;
}
.banner-button:hover {
    background-color: transparent;
}
.carousel .slider-wrapper {
    height: 100.3vh;
    margin-top: -1.21px !important;
}



@media (width <= 767px) {
    .banner-container h1 {
        font-size: 3rem;
        text-align: center;
    }
    .banner-container {
        flex-direction:column-reverse;
        align-items: center;
        justify-items: flex-start;
        gap: 1.5rem;
        padding-top: 7rem;
    }
    .title-wrapper {
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}