.cartpage-container {
    min-height: 100vh;
    padding: 9rem var(--side-padding);
    padding-bottom: 6.5rem;
    display: flex; 
    gap: 4rem; 
    justify-content: space-between;
}

/* Empty cart styles */
.empty-cart {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.empty-cart h1 {
    font-size: 3rem;
}
.empty-cart .icon {
    color: var(--primary);
    width: 20rem;
    height: 20rem;
    margin-bottom: 1rem;
    opacity: 0.3;
}
.empty-cart button {
    background-color: #000;
    color: #fff;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 2rem;
}
.empty-cart button:hover {
    background-color: #333;
}