.cartpage-container {
    min-height: 100vh;
    padding: 9rem var(--side-padding);
    display: flex; 
}
.orders-list {
    height: fit-content;
    border-collapse: collapse;
}
.orders-list tr {
    border-bottom: 1px solid #ccc;
    padding: .5rem 0;
}
.orders-list th {
    padding-bottom: 1rem;
}
.orders-list td, .orders-list th {
    padding-right: 4rem;
}
.order-thumb {
    width: 6rem;
}
.order-title {
    min-width: 20rem;
}
.order-title a p {
    color: #000;
}
.order-title a p:hover {
    color: #666;
}
.order-price {
    text-align: center;
}
td.order-subtotal {
    padding: 0;
    text-align: center; 
}

.empty-cart {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.empty-cart h1 {
    font-size: 3rem;
}
.empty-cart .icon {
   color: var(--primary);
    height: 40%;
    width: 40%;
    margin-bottom: 1rem;
    opacity: 0.3;
}
.empty-cart button {
    background-color: #000;
    color: #fff;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 2rem;
}
.empty-cart button:hover {
    background-color: #333;
}