.filter-container {
    max-width: 19rem;
    min-width: 19rem;
    background-color: #fff;
    border: 0.5px solid #ddd;
    padding: 1.55rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0px 0px 11px 0.5px rgba(0,0,0,0.1);
}
.filter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.filter .name {
    color: #000;
    border-bottom: 0.5px solid #ccc;
    padding-bottom: 5px;
}

/* For checkbox filter */

.checkbox-filter-container {
    display: flex;
    flex-direction: column;
}

/* For toggle filter  */

.toggle-filter-container {
    padding: 0.5rem 0;
}
.toggle-filter-container .toggle-button-group {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.color-span {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    border: 0.1px solid #333;
}

/* For Slider filter  */

.slider-filter-container {
    padding: 0.8rem 1.5rem;
}