nav {
    width: 100%;
    padding: 0.5rem var(--side-padding);
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    display: flex;
    gap: 5rem;
    align-items: center;
    overflow: hidden;
}
nav > div {
    display: flex;
    gap: 4rem;
}
.logo {
    width: 8rem;
    margin: 0 0 10px 0;
    cursor: pointer;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.nav-links a {
    color: inherit;
}
.nav-links a::after {
    content: '';
    width: 0;
    height: 2.5px;
    background-color: var(--primary);
    display: block;
    border-radius: 5px;
    margin: auto;
    transition: width 0.2s linear;
}
.nav-links a:hover::after {
    width: 100%;
}
.nav-links a:hover {
    color: black;
}

.account-icon {
    color: var(--text-color);
}
.login-button {
    color: inherit;
    font: inherit;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.login-button:hover, .login-button:hover .account-icon, .cart-button:hover .cart-icon{
    color: #777;
    transition: color 0.2s linear;
}

.cart-button {
    border: none;
    background: none;
}
.cart-icon {
    color: var(--text-color);
}
