:root {
    --navlinks-hover: #777;
    --primary-hover: #41a58d;
    --secondary-hover: #000;
    /* --text-color: #000; */
}
.navbar {
    width: 100%;
    padding: 0.5rem var(--side-padding);
    background-color: var(--bg-color);  
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    display: flex;
    gap: 5rem;
    align-items: center;
    position: fixed;
    top: 0;
    transition: all 0.3s;
    z-index: 2;
}
.navbar-intersecting {
    --bg-color: transparent;
    --text-color: #fff;
    --navlinks-hover: rgba(255,255,255,0.6);
    --primary-hover: #fff;
    --secondary: var(--primary);
    --secondary-hover: #fff;
    box-shadow: none;
}
.navbar-intersecting .logo{
    filter: brightness(0) invert(1);
}

nav > div {
    display: flex;
    gap: 4rem;
}
.logo {
    width: 8rem;
    margin: 0 0 10px 0;
    cursor: pointer;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.nav-links a {
    color: var(--text-color);
}
.nav-links a::after {
    content: '';
    width: 0;
    height: 2.5px;
    background-color: var(--primary-hover);
    display: block;
    border-radius: 5px;
    margin: auto;
    transition: width 0.2s linear;
}
.nav-links a:hover::after {
    width: 100%;
}
.nav-links a:hover {
    color: var(--secondary-hover);
}

.account-icon {
    color: var(--text-color);
}
.login-button {
    color: var(--text-color);
    font: inherit;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.login-button:hover, .login-button:hover .account-icon, .cart-button:hover .cart-icon{
    color: var(--navlinks-hover);
    transition: color 0.2s linear;
}

.cart-button {
    border: none;
    background: none;
}
.cart-button .cart-icon {
    color: var(--text-color);
}
