.products-column {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    position: relative;
}
.results {
    position: absolute;
    right: 10px;
    top: -2rem;
}
.results span {
    color: #888;
    margin-left: 10px;
}

 /* Overriding product card css */
.products-column .item-card {
    width: 18rem;
    height: 19.7rem;
    gap: 0.6rem;
}   
.products-column .item-card .thumb {
    width: 10.5rem;
}

.page-nav {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    height: fit-content;
}
.page-nav button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.page-nav .back:hover, .page-nav .next:hover {
    color: #444;
}
.page-nav .back:hover:disabled {
    color: #776;
    cursor:default;
}
