.products-page-container {
    background-color: #FBFBFB;
}
.products-filter-header {
    display: flex;
    background-color: #fff;
    margin-top: 4.3rem;
    padding: 3rem var(--side-padding);
    justify-content: center;
}
.products-page-body {
    padding: 2rem var(--side-padding);
}  