.products-section {
    width: 100%;
    padding: 0 var(--side-padding);
    margin: 3.5rem 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.products-section .shop-button {
    width: fit-content;
    background-color: #000;
    padding: 0.7rem 1.3rem;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
}
.products-section .shop-button:hover {
    background-color: #333;
    transition: background-color 0.2s;
}
.products-section h1 {
    font-size: 2rem;
}
.products-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}