.products-column {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    position: relative;
}
.results {
    position: absolute;
    right: 10px;
    top: -2rem;
}
.results span {
    color: #888;
    margin-left: 10px;
}

 /* Overriding product card css */
.products-column .item-card {
    width: 18rem;
    height: 19.7rem;
    gap: 0.6rem;
}   
.products-column .item-card .thumb {
    width: 10.5rem;
}
