input[type="search"] {
    outline: none;
    border: 2px solid var(--primary);
    border-right: none;
    width: 25rem;
    padding: 8px 10px;
    border-radius: 8px 0 0 8px;
    height: inherit;
    font-family: inherit;
    font-size: inherit;
}
input[type="search"]:focus, input[type="search"]:focus + button {
    border-color: var(--secondary);
} 
.search-wrapper {
    gap: 0;
    align-items: center;
    height: 2.3rem;
}
button {
    border: 2px solid var(--primary);
    border-left: none;
    background-color: var(--primary);
    height: inherit;
    padding: 4px;
    border-radius: 0 8px 8px 0;
}
.search-icon {
    font-size: 26px;
    color: #fff;
}
