input[type="search"] {
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    border: 2px solid var(--primary);
    border-right: none;
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px 0 0 8px;
    height: inherit;
    font-family: inherit;
    font-size: inherit;
}
input[type="search"]:focus, input[type="search"]:focus + .search-button {
    border-color: var(--secondary);
} 
form.search-wrapper {
    display: flex;
    min-width: 194px;
    width: 90%;
    gap: 0;
    align-items: center;
    height: 2.3rem;
    position: relative;
}
.search-button {
    border: 2px solid var(--primary);
    border-left: none;
    background-color: var(--primary);
    height: inherit;
    width: 2.25rem;
    padding: 4px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
.search-button:hover {
    background-color:#32947d;
}
.search-icon {
    font-size: 26px;
    color: #fff;
}
