.leaflet-container {
    height: 350px;
    width: 60%;
    z-index: 0;
}
.map-section-container {
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    margin: 3rem 0;
}
.map-section-container h1 {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}

@media (width <= 767px) {
    .leaflet-container {
        width: 100%;
    }
    .map-section-container {
        padding: 0 var(--side-padding);
    }
}