@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --bg-color: #fff;  
    --bg-color2: #f7f7f7;
    --text-color: #333;
    --primary: #41a58d;
    --secondary: #286955;
    --side-padding: 7%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

@media (width <= 767px) {
    :root {
        font-size: 14px;
    }
}